<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/site.css">
    <title>Auction House</title>
</head>

<body>

    <div id="page-content">

        <header>
            <a href="/" class="title-logo">
                <img src="/static/assets/logo.png">
                <span>Auction House</span>
            </a>
            <nav class="main-nav nav-mid">
                <ul>
                    <li>
                        <a href="/catalog">Browse</a>
                    </li>
                    {{#if isAuthenticated}}
                    <li class="user">
                        <a href="/create">Publish</a>
                    </li>

                    <li class="user">
                        <a href="/ended">Closed Auctions</a>
                    </li>

                    <li class="user">
                        <a href="/logout">Logout</a>
                    </li>
                    {{else}}
                    <li class="guest">
                        <a href="/register">Register</a>
                    </li>
                    <li class="guest">
                        <a href="/login">Login</a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </header>

        <main>
            {{#if error}}
            <div class="error-box">
                <p>{{error}}</p>
            </div>
            {{/if}}

            {{{body}}}
        </main>

        <footer>SoftUni &copy; 2022 | Design by Viktor Kostadinov</footer>
    </div>

</body>

</html>